@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GochiHand";
  src: url("../public/fonts/GochiHand-Regular.ttf");
  font-style: normal;
}

.font-gochi {
  font-family: "GochiHand";
}

body {
  background-color: #ff95cb;
}

.text-primary {
  color: #19408f;
}
